<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Replace me</title>
    <link rel="stylesheet" href="../common.css" />
    <link rel="stylesheet" href="./style.css" />
</head>
<body>
    <section class="container">
        <div class="container_head"></div>
        <section class="focus">
            <div><a class="head1" href="#">Focus</a></div>
            <div><a class="head2" href="#">Mostra tutto</a></div>
        </section>
        <section class="focus_cards">
            <div>1</div>
            <div>2</div>
            <div>3</div>
            <div>4</div>
            <div>5</div>
        </section>
        <section class="playSpoti">
            <div><a class="head3" href="#">Playlist Spotify</a></div>
            <div><a class="head4" href="#">Mostra tutto</a></div>
        </section>
        <section class="playSpoti_cards">
            <div>6</div>
            <div>7</div>
            <div>8</div>
            <div>9</div>
            <div>10</div>
        </section>
    </section>
</body>
</html>