<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="Lista-brani.css" />
  </head>

  <body>
    <nav class="headerSongList">
      <p class="N#">#</p>
      <p class="title__header">Titolo</p>
      <p class="Album__header">Album</p>
      <p class="add__date__header">aggiunto il giorno</p>
      <svg
        role="img"
        height="16"
        width="16"
        aria-hidden="true"
        viewBox="0 0 16 16"
        data-encore-id="icon"
        class="SVG__header__Clock"
      >
        <path
          d="M8 1.5a6.5 6.5 0 1 0 0 13 6.5 6.5 0 0 0 0-13zM0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8z"
        ></path>
        <path
          d="M8 3.25a.75.75 0 0 1 .75.75v3.25H11a.75.75 0 0 1 0 1.5H7.25V4A.75.75 0 0 1 8 3.25z"
        ></path>
      </svg>
    </nav>

    <div class="playlistSong">
      <p class="N__Placeholder">1</p>

      <div class="img__Ttitle">
        <img
          src="https://i.scdn.co/image/ab67616d00004851c1f1b784f7ef6ad1fd13e581"
          width="40"
          height="40"
        />
        <section class="paragraph__playlist">
          <p>Chopin - Nocturne op.9 No.2</p>
          <p>Fryderyk Chopin</p>
        </section>
      </div>

      <div class="album__list">Nocturnes</div>
      <div class="date__list">3 days from update</div>

      <div class="SongDuration__list">12.34</div>
    </div>
    <div class="playlistSong">
      <p class="N__Placeholder">1</p>

      <div class="img__Ttitle">
        <img
          src="https://i.scdn.co/image/ab67616d00004851c1f1b784f7ef6ad1fd13e581"
          width="40"
          height="40"
        />
        <section class="paragraph__playlist">
          <p>Chopin - Nocturne op.9 No.2</p>
          <p>Fryderyk Chopin</p>
        </section>
      </div>

      <div class="album__list">Nocturnes</div>
      <div class="date__list">3 days from update</div>

      <div class="SongDuration__list">12.34</div>
    </div>
    <div class="playlistSong">
      <p class="N__Placeholder">1</p>

      <div class="img__Ttitle">
        <img
          src="https://i.scdn.co/image/ab67616d00004851c1f1b784f7ef6ad1fd13e581"
          width="40"
          height="40"
        />
        <section class="paragraph__playlist">
          <p>Chopin - Nocturne op.9 No.2</p>
          <p>Fryderyk Chopin</p>
        </section>
      </div>

      <div class="album__list">Nocturnes</div>
      <div class="date__list">3 days from update</div>

      <div class="SongDuration__list">12.34</div>
    </div>
    <div class="playlistSong">
      <p class="N__Placeholder">1</p>

      <div class="img__Ttitle">
        <img
          src="https://i.scdn.co/image/ab67616d00004851c1f1b784f7ef6ad1fd13e581"
          width="40"
          height="40"
        />
        <section class="paragraph__playlist">
          <p>Chopin - Nocturne op.9 No.2</p>
          <p>Fryderyk Chopin</p>
        </section>
      </div>

      <div class="album__list">Nocturnes</div>
      <div class="date__list">3 days from update</div>

      <div class="SongDuration__list">12.34</div>
    </div>
    <div class="playlistSong">
      <p class="N__Placeholder">1</p>

      <div class="img__Ttitle">
        <img
          src="https://i.scdn.co/image/ab67616d00004851c1f1b784f7ef6ad1fd13e581"
          width="40"
          height="40"
        />
        <section class="paragraph__playlist">
          <p>Chopin - Nocturne op.9 No.2</p>
          <p>Fryderyk Chopin</p>
        </section>
      </div>

      <div class="album__list">Nocturnes</div>
      <div class="date__list">3 days from update</div>

      <div class="SongDuration__list">12.34</div>
    </div>
    <div class="playlistSong">
      <p class="N__Placeholder">1</p>

      <div class="img__Ttitle">
        <img
          src="https://i.scdn.co/image/ab67616d00004851c1f1b784f7ef6ad1fd13e581"
          width="40"
          height="40"
        />
        <section class="paragraph__playlist">
          <p>Chopin - Nocturne op.9 No.2</p>
          <p>Fryderyk Chopin</p>
        </section>
      </div>

      <div class="album__list">Nocturnes</div>
      <div class="date__list">3 days from update</div>

      <div class="SongDuration__list">12.34</div>
    </div>
    <div class="playlistSong">
      <p class="N__Placeholder">1</p>

      <div class="img__Ttitle">
        <img
          src="https://i.scdn.co/image/ab67616d00004851c1f1b784f7ef6ad1fd13e581"
          width="40"
          height="40"
        />
        <section class="paragraph__playlist">
          <p>Chopin - Nocturne op.9 No.2</p>
          <p>Fryderyk Chopin</p>
        </section>
      </div>

      <div class="album__list">Nocturnes</div>
      <div class="date__list">3 days from update</div>

      <div class="SongDuration__list">12.34</div>
    </div>
  </body>
</html>
