<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="common.css" />
    <link rel="stylesheet" href="style.css" />
  </head>

  <body>
    <nav>
      <div class="container_arrow">
        <svg
          role="img"
          height="16"
          width="16"
          aria-hidden="true"
          class="Svg-sc-ytk21e-0 leya-dW IYDlXmBmmUKHveMzIPCF"
          viewBox="0 0 16 16"
          data-encore-id="icon"
        >
          <path
            d="M11.03.47a.75.75 0 0 1 0 1.06L4.56 8l6.47 6.47a.75.75 0 1 1-1.06 1.06L2.44 8 9.97.47a.75.75 0 0 1 1.06 0z"
          ></path>
        </svg>

        <svg
          role="img"
          height="16"
          width="16"
          aria-hidden="true"
          class="Svg-sc-ytk21e-0 leya-dW IYDlXmBmmUKHveMzIPCF"
          viewBox="0 0 16 16"
          data-encore-id="icon"
        >
          <path
            d="M4.97.47a.75.75 0 0 0 0 1.06L11.44 8l-6.47 6.47a.75.75 0 1 0 1.06 1.06L13.56 8 6.03.47a.75.75 0 0 0-1.06 0z"
          ></path>
        </svg>
      </div>
      <section class="sec2">
        <div class="Container_link">
          <a href="#">premium</a>
          <a href="#">assistenza</a>
          <a href="#">download</a>
        </div>
        <hr />
        <div class="container_buttons">
          <button class="iscriviti" type="button" name="iscriviti">
            Iscriviti
          </button>
          <button class="accedi" type="button" name="accedi">Accedi</button>
        </div>
      </section>
    </nav>
  </body>
</html>
