<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <main>
      <div class="immagine">
        <img
          src="
        https://i.scdn.co/image/ab67706f00000002d073e656e546e43bc387ad79"
        />
      </div>
      <div class="playlist">
        <p>Playlist</p>
        <h1>Peaceful Piano</h1>
        <p>Peaceful piano to help you slow down, breathe, and relax.</p>
        <section>
          <img
            src="https://i.scdn.co/image/ab67757000003b8255c25988a6ac314394d3fbf5"
          />
          <p>Spotify</p>

          <p>.7.091.204 Mi piace</p>

          <p>. 311 brani, circa 12 ore</p>
        </section>
      </div>
    </main>
  </body>
</html>
