<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style-card-home.css">
</head>

<body>

    <div class="card">
        <img src="https://i.scdn.co/image/ab67706f00000002d073e656e546e43bc387ad79" alt="cover">
        <h1>Peaceful Piano</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus quia vero maxime quis nulla consectetur
            autem officiis laudantium modi. Temporibus. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eos
            quo, labore voluptas vitae ad esse aspernatur, sequi, pariatur sunt magni libero aliquid laboriosam odit
            eligendi? Voluptates, quaerat dolorum! Nesciunt, enim.</p>
    </div>

</body>

</html>